<div class="die-result-overlay-br damage-overlay-br">
	<span>
		<span class="apply-damage-buttons">
			<button data-modifier="-1" class="icon heart-plus" title="{{ localize "rsr5e.chat.buttons.healing" }}">
			</button>
		</span>
		<!--<button class="crit-button" title="{{ localize "br5e.chat.damageButtons.crit.hint"}}">
			<i class="fas fa-plus"></i>
		</button>-->
	</span>
	<span class="apply-damage-buttons">
		<button data-modifier="1" title="{{ localize "rsr5e.chat.buttons.damageFull" }}">
			<i class="fas fa-user-minus"></i>
		</button>
		<button data-modifier="0.5" title="{{ localize "rsr5e.chat.buttons.damageHalf" }}">
			<i class="fas fa-user-shield"></i>
		</button>
		<button data-modifier="0.25" title="{{ localize "rsr5e.chat.buttons.damageQuarter" }}">
			<i class="fas fa-user-check"></i>
		</button>
		<button data-modifier="2" title="{{ localize "rsr5e.chat.buttons.damageDouble" }}">
			<i class="fas fa-user-injured"></i>
		</button>
	</span>
</div>
