<div class="tab item-rsr5e" data-group="primary" data-tab="rsr5e">
	<ol class="items-list">
		<li class="items-header flexrow">
			<h3 class="item-name effect-name flexrow">{{localize "rsr5e.sheet.tab.section.defaultRoll"}}</h3>
		</li>
		<ol class="item-list">
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.main"}}</label></span>
			</li>
			<div class="rsr5e-options-box">
				<li class="rsr5e-options-container flexrow">
					{{#if flags.rsr5e.quickDesc}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickDesc.value"
							value="flags.rsr5e.quickDesc.value"
							data-dtype="{{flags.rsr5e.quickDesc.type}}"
							{{checked flags.rsr5e.quickDesc.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.description"}}
					</label>
					{{/if}}
					{{#if flags.rsr5e.quickFlavor}} {{#if hasFlavor}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickFlavor.value"
							value="flags.rsr5e.quickFlavor.value"
							data-dtype="{{flags.rsr5e.quickFlavor.type}}"
							{{checked flags.rsr5e.quickFlavor.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.flavor"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickFooter}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickFooter.value"
							value="flags.rsr5e.quickFooter.value"
							data-dtype="{{flags.rsr5e.quickFooter.type}}"
							{{checked flags.rsr5e.quickFooter.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.footer"}}
					</label>
					{{/if}}
					{{#if flags.rsr5e.quickAttack}} {{#if isAttack}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickAttack.value"
							value="flags.rsr5e.quickAttack.value"
							data-dtype="{{flags.rsr5e.quickAttack.type}}"
							{{checked flags.rsr5e.quickAttack.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.attack"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickCheck}} {{#if isCheck}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickCheck.value"
							value="flags.rsr5e.quickCheck.value"
							data-dtype="{{flags.rsr5e.quickCheck.type}}"
							{{checked flags.rsr5e.quickCheck.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.check"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickSave}} {{#if isSave}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickSave.value"
							value="flags.rsr5e.quickSave.value"
							data-dtype="{{flags.rsr5e.quickSave.type}}"
							{{checked flags.rsr5e.quickSave.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.save"}}</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickTemplate}} {{#if isAreaTarget}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickTemplate.value"
							value="flags.rsr5e.quickTemplate.value"
							data-dtype="{{flags.rsr5e.quickTemplate.type}}"
							{{checked flags.rsr5e.quickTemplate.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.template"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickOther}} {{#if hasOther}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickOther.value"
							value="flags.rsr5e.quickOther.value"
							data-dtype="{{flags.rsr5e.quickOther.type}}"
							{{checked flags.rsr5e.quickOther.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.other"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickVersatile}} {{#if isVersatile}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickVersatile.value"
							value="flags.rsr5e.quickVersatile.value"
							data-dtype="{{flags.rsr5e.quickVersatile.type}}"
							{{checked flags.rsr5e.quickVersatile.value}}
						/>
						{{localize dnd5e.weaponProperties.ver}}
					</label>
					{{/if}}{{/if}}
				</li>
			</div>			
			{{#if hasDamage}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.damage"}}</label></span>
			</li>
			<div class="rsr5e-options-box">				
				<li class="rsr5e-options-container flexrow">
				{{#if flags.rsr5e.quickDamage}}
				{{#each flags.rsr5e.quickDamage.value as |part i| }}
				<label class="checkbox">
					<input
						type="checkbox"
						name="flags.rsr5e.quickDamage.value.{{i}}"
						value= "flags.rsr5e.quickDamage.value.{{i}}"
						data-dtype="Boolean"
						{{checked (lookup ../flags.rsr5e.quickDamage.value i)}}
					/>
					{{i}}: {{lookup ../flags.rsr5e.quickDamage.context i}} ({{lookup ../combinedDamageTypes (lookup (lookup ../item.system.damage.parts i) 1)}})
				</label>
				{{/each}}
				{{/if}}
				</li>
			</div>
			{{/if}}
			{{#if hasEffects}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.effects"}}</label></span>
			</li>
			<div class="rsr5e-options-box">				
				<li class="rsr5e-options-container flexrow">
				{{#if flags.rsr5e.quickEffects}}
				{{#each flags.rsr5e.quickEffects.value as |part i| }}
				<label class="checkbox">
					<input
						type="checkbox"
						name="flags.rsr5e.quickEffects.value.{{i}}"
						value= "flags.rsr5e.quickEffects.value.{{i}}"
						data-dtype="Boolean"
						{{checked (lookup ../flags.rsr5e.quickEffects.value i)}}
					/>
					{{i}}: {{lookup ../flags.rsr5e.quickEffects.context i}}
				</label>
				{{/each}}
				{{/if}}
				</li>
			</div>
			{{/if}}
			{{#if hasConsume}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.consume"}}</label></span>
			</li>
			<div class="rsr5e-options-box">
				<li class="rsr5e-options-container flexrow">
					{{#if hasQuantity}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.consumeQuantity.value"
							value="flags.rsr5e.consumeQuantity.value"
							data-dtype="{{flags.rsr5e.consumeQuantity.type}}"
							{{checked flags.rsr5e.consumeQuantity.value}}
						/>
						{{localize "rsr5e.sheet.tab.options.quantity"}}
					</label>
					{{/if}}
					{{#if hasUses}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeUses.value"
								value="flags.rsr5e.consumeUses.value"
								data-dtype="{{flags.rsr5e.consumeUses.type}}"
								{{checked flags.rsr5e.consumeUses.value}}
							/>
							{{localize "rsr5e.sheet.tab.options.uses"}}
						</label>
					{{/if}}
					{{#if hasResource}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeResource.value"
								value="flags.rsr5e.consumeResource.value"
								data-dtype="{{flags.rsr5e.consumeResource.type}}"
								{{checked flags.rsr5e.consumeResource.value}}
							/>
							{{localize "rsr5e.sheet.tab.options.resource"}}
						</label>
					{{/if}}
					{{#if hasRecharge}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeRecharge.value"
								value="flags.rsr5e.consumeRecharge.value"
								data-dtype="{{flags.rsr5e.consumeRecharge.type}}"
								{{checked flags.rsr5e.consumeRecharge.value}}
							/>
							{{localize "rsr5e.sheet.tab.options.recharge"}}
						</label>
					{{/if}}
				</li>
			</div>
			{{/if}}
			<li class="rsr5e-options-spacer flexrow" draggable="false"></li>
		</ol>
	</ol>
	{{#if altRollEnabled}}
	<ol class="items-list">
		<li class="items-header flexrow">
			<h3 class="item-name effect-name flexrow">{{localize "rsr5e.sheet.tab.section.alternateRoll"}}</h3>
		</li>
		<ol class="item-list">
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.main"}}</label></span>
			</li>
			<div class="rsr5e-options-box">
				<li class="rsr5e-options-container flexrow">
					{{#if flags.rsr5e.quickDesc}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickDesc.altValue"
							value="flags.rsr5e.quickDesc.altValue"
							data-dtype="{{flags.rsr5e.quickDesc.type}}"
							{{checked flags.rsr5e.quickDesc.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.description"}}
					</label>
					{{/if}}
					{{#if flags.rsr5e.quickFlavor}} {{#if hasFlavor}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickFlavor.altValue"
							value="flags.rsr5e.quickFlavor.altValue"
							data-dtype="{{flags.rsr5e.quickFlavor.type}}"
							{{checked flags.rsr5e.quickFlavor.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.flavor"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickFooter}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickFooter.altValue"
							value="flags.rsr5e.quickFooter.altValue"
							data-dtype="{{flags.rsr5e.quickFooter.type}}"
							{{checked flags.rsr5e.quickFooter.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.footer"}}
					</label>
					{{/if}}
					{{#if flags.rsr5e.quickAttack}} {{#if isAttack}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickAttack.altValue"
							value="flags.rsr5e.quickAttack.altValue"
							data-dtype="{{flags.rsr5e.quickAttack.type}}"
							{{checked flags.rsr5e.quickAttack.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.attack"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickCheck}} {{#if isCheck}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickCheck.altValue"
							value="flags.rsr5e.quickCheck.altValue"
							data-dtype="{{flags.rsr5e.quickCheck.type}}"
							{{checked flags.rsr5e.quickCheck.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.check"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickSave}} {{#if isSave}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickSave.altValue"
							value="flags.rsr5e.quickSave.altValue"
							data-dtype="{{flags.rsr5e.quickSave.type}}"
							{{checked flags.rsr5e.quickSave.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.save"}}</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickTemplate}} {{#if isAreaTarget}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickTemplate.altValue"
							value="flags.rsr5e.quickTemplate.altValue"
							data-dtype="{{flags.rsr5e.quickTemplate.type}}"
							{{checked flags.rsr5e.quickTemplate.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.template"}}
					</label>
					{{/if}}{{/if}}										
					{{#if flags.rsr5e.quickOther}} {{#if hasOther}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickOther.altValue"
							value="flags.rsr5e.quickOther.altValue"
							data-dtype="{{flags.rsr5e.quickOther.type}}"
							{{checked flags.rsr5e.quickOther.altValue}}
						/>
						{{localize "rsr5e.sheet.tab.options.other"}}
					</label>
					{{/if}}{{/if}}
					{{#if flags.rsr5e.quickVersatile}} {{#if isVersatile}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.quickVersatile.altValue"
							value="flags.rsr5e.quickVersatile.altValue"
							data-dtype="{{flags.rsr5e.quickVersatile.type}}"
							{{checked flags.rsr5e.quickVersatile.altValue}}
						/>
						{{localize dnd5e.weaponProperties.ver}}
					</label>
					{{/if}}{{/if}}
				</li>
			</div>			
			{{#if hasDamage}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.damage"}}</label></span>
			</li>
			<div class="rsr5e-options-box">				
				<li class="rsr5e-options-container flexrow">
				{{#if flags.rsr5e.quickDamage}}
				{{#each flags.rsr5e.quickDamage.altValue as |part i| }}
				<label class="checkbox">
					<input
						type="checkbox"
						name="flags.rsr5e.quickDamage.altValue.{{i}}"
						value= "flags.rsr5e.quickDamage.altValue.{{i}}"
						data-dtype="Boolean"
						{{checked (lookup ../flags.rsr5e.quickDamage.altValue i)}}
					/>
					{{i}}: {{lookup ../flags.rsr5e.quickDamage.context i}} ({{lookup ../combinedDamageTypes (lookup (lookup ../item.system.damage.parts i) 1)}})
				</label>
				{{/each}}
				{{/if}}
				</li>
			</div>
			{{/if}}
			{{#if hasEffects}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.effects"}}</label></span>
			</li>
			<div class="rsr5e-options-box">				
				<li class="rsr5e-options-container flexrow">
				{{#if flags.rsr5e.quickEffects}}
				{{#each flags.rsr5e.quickEffects.altValue as |part i| }}
				<label class="checkbox">
					<input
						type="checkbox"
						name="flags.rsr5e.quickEffects.altValue.{{i}}"
						value= "flags.rsr5e.quickEffects.altValue.{{i}}"
						data-dtype="Boolean"
						{{checked (lookup ../flags.rsr5e.quickEffects.altValue i)}}
					/>
					{{i}}: {{lookup ../flags.rsr5e.quickEffects.context i}}
				</label>
				{{/each}}
				{{/if}}
				</li>
			</div>
			{{/if}}
			{{#if hasConsume}}
			<li class="rsr5e-options-subsection flexrow" draggable="false">
				<span><label class="rsr5e-options-title">{{localize "rsr5e.sheet.tab.subsection.consume"}}</label></span>
			</li>
			<div class="rsr5e-options-box">
				<li class="rsr5e-options-container flexrow">
					{{#if hasQuantity}}
					<label class="checkbox">
						<input
							type="checkbox"
							name="flags.rsr5e.consumeQuantity.altValue"
							value="flags.rsr5e.consumeQuantity.altValue"
							data-dtype="{{flags.rsr5e.consumeQuantity.type}}"
							{{checked flags.rsr5e.consumeQuantity.altValue.}}
						/>
						{{localize "rsr5e.sheet.tab.options.quantity"}}
					</label>
					{{/if}}
					{{#if hasUses}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeUses.altValue"
								value="flags.rsr5e.consumeUses.altValue"
								data-dtype="{{flags.rsr5e.consumeUses.type}}"
								{{checked flags.rsr5e.consumeUses.altValue}}
							/>
							{{localize "rsr5e.sheet.tab.options.uses"}}
						</label>
					{{/if}}
					{{#if hasResource}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeResource.altValue"
								value="flags.rsr5e.consumeResource.altValue"
								data-dtype="{{flags.rsr5e.consumeResource.type}}"
								{{checked flags.rsr5e.consumeResource.altValue}}
							/>
							{{localize "rsr5e.sheet.tab.options.resource"}}
						</label>
					{{/if}}
					{{#if hasRecharge}}
						<label class="checkbox">
							<input
								type="checkbox"
								name="flags.rsr5e.consumeRecharge.altValue"
								value="flags.rsr5e.consumeRecharge.altValue"
								data-dtype="{{flags.rsr5e.consumeRecharge.type}}"
								{{checked flags.rsr5e.consumeRecharge.altValue}}
							/>
							{{localize "rsr5e.sheet.tab.options.recharge"}}
						</label>
					{{/if}}
				</li>
			</div>
			{{/if}}
			<li class="rsr5e-options-spacer flexrow" draggable="false"></li>
		</ol>
	</ol>
	{{/if}}
</div>