<div class="die-result-overlay-rsr damage-overlay-rsr">
	<span>
		<span class="apply-damage-buttons">
			<button data-modifier="-1" class="icon overlay-healing" title="{{ localize "rsr5e.chat.buttons.healing" }}">
			</button>
		</span>
		<span class="apply-temphp-buttons">			
			<button data-modifier="0" class="icon overlay-healing-temp" title="{{ localize "rsr5e.chat.buttons.healingTemp" }}">
			</button>
		</span>
		<span class="crit-button">
			<button title="{{ localize "rsr5e.chat.buttons.rollCrit"}}"><i class="fas fa-plus"></i>
			</button>
		</span>
	</span>
	<span class="apply-damage-buttons">
		<button data-modifier="1" class="icon overlay-damage-full" title="{{ localize "rsr5e.chat.buttons.damageFull" }}">
		</button>
		<button data-modifier="0.5" class="icon overlay-damage-half" title="{{ localize "rsr5e.chat.buttons.damageHalf" }}">
		</button>
		<button data-modifier="0.25" class="icon overlay-damage-quarter" title="{{ localize "rsr5e.chat.buttons.damageQuarter" }}">
		</button>
		<button data-modifier="2" class="icon overlay-damage-double" title="{{ localize "rsr5e.chat.buttons.damageDouble" }}">
		</button>
	</span>
</div>
